:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --laranja-secundario: #FF6600;
    --botão-laranja: #FF6600;
    --cor-de-fundo: #000000;
    --fonte-principal: "Inter";
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 12px;
    font-weight: 400;

}

*{
    margin: 0;
    padding: 0;
}

.container01 {
    background-image: url(/imagens/background.png);
    display: grid;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {

    display: grid;
    grid-template-columns: 35% 30% 30%;
    margin: 5% 0 0 5%;
    align-items: center;

}


.titulo-container {
    font-size: 2vw;
    font-weight: 700;
}

.logo-container {
    width: 23vw;
    height: 18vw;
    margin: 0 8%;
}

.botao-container {
    font-size: 1vw;
    text-align: center;
    background-color: var(--botão-laranja);
    border-radius: 0.59vw;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
    width: 25vw;
    height: 1.6vw;
    margin: 1vw 5vw 5vw 6vw;
} 

.fundo {
    background-image: url(/imagens/background.png);
}
